form {
    
    display: flex;
    align-items: center;
    position: relative;

    input {
        padding: 5px 10px;
        width: 100%;
        border: 2px solid $primaryColorL;
        border-radius: 25px;
    }
    
}