header {
    background-color: var(--primaryColor);
    color: var(--quaternaryColor);
    min-height: 8vh;

    .headerFlexContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            display: inherit;
            width: 30vw;
            max-width: 300px;
            ul {
                display: inherit;
                align-items: center;
                font-family: $emphasizeFont, sans-serif;
                font-size: 1rem;
                width: 100%;
                padding: 0;
                justify-content: space-between;
                letter-spacing: 0.2rem;
            }
        }
    }
}