section {
    &.intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10% 0;
    }
}

// results from the api 

.results {

    display: flex;
    flex-wrap: wrap;

    .showMe {
        flex: calc(25% - 20px);
        padding: 10px;
        margin: 10px;
        border: 3px solid $solidBlack;
        border-radius: 15px;
        background-color: $primaryColorL;
    }

    .hideMe,
    .hidePlot {
        display: none;
    }

    .showPlot {
        display: block;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
        min-width: 100%;
    }

    h3 {
        text-align: center;
    }
    
    img {
        min-height: 350px;
        min-width: fit-content;
        border-radius: 20px;
    }

}

.spacer {
    height: 6rem; // The same height of the footer element
    width: 100%;
}

main {
    min-height: 75.5vh;
}