@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Hind+Guntur:wght@300;400&family=Lato:wght@400;700;900&display=swap');

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont, sans-serif;
    font-size: 1rem;
    color: $solidWhite;
}

h1, h2, h3, h4 {
    font-family: $headingFont, sans-serif;
    font-weight: normal;
    color: $solidWhite;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
}


