@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Hind+Guntur:wght@300;400&family=Lato:wght@400;700;900&display=swap');

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont, sans-serif;
    font-size: 1rem;
    color: var(--tertiaryColor);
}

h1, h2, h3, h4 {
    font-family: $headingFont, sans-serif;
    font-weight: normal;
    color: var(--tertiaryColor);
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-family: $emphasizeFont, sans-serif;
    color: var(--quaternaryColor);
    letter-spacing: 0.2rem;
}

p {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    margin: 0 0 10px 0;
    &.plot {
        font-size: 1rem;
    }
    &.gridItem {
        font-size: 0.75rem;
        line-height: 2rem;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
    &.developer {
        font-family: $emphasizeFont, sans-serif;
        font-size: 0.8rem;
        &:hover,
        &:focus {
            display: inline-block;
            color: var(--tertiaryColor);
            transform: translateY(-0.25rem);
        }
    }
}

