// Colours:
// Notes: primary colour is set to be lighter than secondary colour

// Light theme (default)
// dogerBlue
$primaryL: #1E90FF;
// royalBlue
$secondaryL: #4169E1;

// Dark theme
// lightOrange
$primary: #e7930b;
//halfLifeOrange
$secondaryD: #fb7f0c;

// Tones
$solidWhite: #FFF;
$solidBlack: #000;

// Site fonts:
$headingFont: "Lato"; // font-family: 'Lato', sans-serif;
$emphasizeFont: "Allerta"; // font-family: 'Allerta', sans-serif;
$bodyFont: "Hind Guntur"; // font-family: 'Hind Guntur', sans-serif;

