// Colours:
// Notes: primary colour is set to be lighter than secondary colour
// reference: https://developer.mozilla.org/en-US/docs/Web/CSS/var

:root {
    --primaryColor: #1E90FF;
    --secondaryColor: #4169E1;
    --tertiaryColor: #000;
    --quaternaryColor: #FFF;
}

.darkTheme {
    --primaryColor: #e7930b;
    --secondaryColor: #fb7f0c;
    --tertiaryColor: #FFF;
    --quaternaryColor: #000;
}

// // Light theme (default)
// // dogerBlue
// $primaryColorL: #1E90FF;
// // royalBlue
// $secondaryColorL: #4169E1;
// // Dark theme
// // lightOrange
// $primaryColorD: #e7930b;
// //halfLifeOrange
// $secondaryColorD: #fb7f0c;
// // Tones
// $solidWhite: #FFF;
// $solidBlack: #000;

// Site fonts:
$headingFont: "Lato"; // font-family: 'Lato', sans-serif;
$emphasizeFont: "Allerta"; // font-family: 'Allerta', sans-serif;
$bodyFont: "Hind Guntur"; // font-family: 'Hind Guntur', sans-serif;

